<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/matchHistory.css' %}"
    />
  </head>
  <body>
    <table class="table">
      <thead>
        <tr class="headRow">
          <th>
            <p>Player 1</p>
          </th>
          <th>
            <p>Score</p>
          </th>
          <th>
            <p>Player 2</p>
          </th>
          <th>
            <p>Score</p>
          </th>
          <th>
            <p>Winner</p>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for game in page_obj %}
        <tr>
          <td>
            <p>{{ game.player_1 }}</p>
          </td>
          <td>
            <p>{{ game.player1_points }}</p>
          </td>
          <td>
            <p>{{ game.player_2 }}</p>
          </td>
          <td>
            <p>{{ game.player2_points }}</p>
          </td>
          <td>
            <p>{{ game.winner }}</p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
