{% csrf_token %}

{% if success %}
<span class="color-success">{{ success }}</span>
{% endif %}

<div>
  {% if password_error %}
  <span class="color-error">{{ password_error }}</span>
  {% endif %}
  <input
    type="password"
    name="password"
    placeholder="New password"
    value="{{ password }}"
  />
</div>

<div>
  {% if password2_error %}
  <span class="color-error">{{ password2_error }}</span>
  {% endif %}
  <input
    type="password"
    name="password2"
    placeholder="Confirm new password"
    value="{{ password2 }}"
  />
</div>

<button type="submit">Change password</button>
