{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div>
  <div>
    <h2 class="neon text-3xl">{% block auth_title %}Login{% endblock %}</h2>
    <h3 class="text-xl font-normal">
      {% block auth_subtitle %}Enter your account:{% endblock %}
    </h3>
  </div>

  <form id="form" method="post" onsubmit="handleFormSubmit(event)">
    {% block auth_form %} {% include 'login_form.html' %} {% endblock %}
  </form>

  <hr />

  <div class="auth-footer">
    {% block auth_footer %}
    <p>Don't have an account?</p>
    <a href="/register/">Register</a>
    {% endblock %}
  </div>
</div>
{% endblock %}
