{% csrf_token %}

{% if success %}
<span class="success text-sm">{{ success }}</span>
{% endif %}

<div>
  {% if username_error %}
  <span class="error">{{ username_error }}</span>
  {% endif %}
  <label for="username">Username:</label>
  <input
    type="text"
    name="username"
    value="{{ username }}"
  />
</div>

<div>
  {% if email_error %}
  <span class="error">{{ email_error }}</span>
  {% endif %}
  <label for="email">Email:</label>
  <input
    type="email"
    name="email"
    placeholder="No email"
    value="{{ email }}"
  />
  {% if email and not user.email_verified %}
  <button type="button" onclick="fetchHTML('/profile/verify_email/')">
    Verify email
  </button>
  {% endif %}
</div>
