.chatTotal {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.chatProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
}

.inviteToPlay {
  padding: 1%;
  text-align: center;
  cursor: pointer;
}

.chatSpace {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  height: 300px;
  background-color: #202020;
  width: 100%;
  overflow-y: auto;
}

.messageSelf {
  background-color: #f0f0f0;
  color: #000;
  border-radius: 10px 10px 0 10px;
  align-self: flex-end;
  padding: 10px;
  margin: 2px;
  max-width: 200px;
  white-space: wrap;
  overflow-wrap: break-word;
}

.messageOthers {
  background-color: #333;
  color: #f2f2f2;
  border-radius: 0 10px 10px 10px;
  align-self: flex-start;
  padding: 10px;
  margin: 2px;
  max-width: 200px;
  white-space: wrap;
  overflow-wrap: break-word;
}

.chatBottom {
  background-color: #0a0a0a;
  padding: 10px 10px;
  align-items: center;
  bottom: 0;
  flex: 1;
}

.chatForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sendMessageButton {
  display: flex;
}

.sendMessageIcon {
  width: 20px;
}
