{% csrf_token %}

<div>
  {% if password_error %}
  <span class="error">{{ password_error }}</span>
  {% endif %}
  <input
    class="input"
    type="password"
    name="password"
    placeholder="New password"
    value="{{ password }}"
  />
</div>

<div>
  {% if password2_error %}
  <span class="error">{{ password2_error }}</span>
  {% endif %}
  <input
    class="input"
    type="password"
    name="password2"
    placeholder="Confirm new password"
    value="{{ password2 }}"
  />
</div>

<button class="button" type="submit">Change password</button>
