{% extends 'index.html' %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<div>
  <h1 class="neon">Edit profile</h1>

  <hr />

  <form id="form" method="post" onsubmit="handleFormSubmit(event)">
    {% include 'edit_profile_form.html' %}
  </form>

  <hr />

  {% if email and not user.email_verified %}
  <a class="button" href="/verify_email/">
    Verify email
  </a>
  {% endif %}
  <a class="button" href="/change_password/">Change password</a>
  <a class="button" href="/change-email/">Change email</a>
</div>
{% endblock %}