{% extends 'index.html' %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<div>
  <h1 class="neon">Edit profile</h1>
  <hr />
  <form class="column gap-2" method="post" onsubmit="handleFormSubmit(event)">
    {% csrf_token %}
    <span class="success">{{ success }}</span>
    <div class="column gap-1">
      <label for="avatar">Avatar:</label>
      <input class="button" type="file" name="avatar" />
    </div>
    <div class="column gap-1">
      <span class="error text-sm">{{ username_error }}</span>
      <label>Username:</label>
      <input
        class="input"
        type="text"
        name="username"
        placeholder="Username"
        value="{{ username }}"
      />
    </div>
    <div class="column gap-1">
      <span class="error text-sm">{{ nickname_error }}</span>
      <label>Nickname:</label>
      <input
        class="input"
        type="nickname"
        name="nickname"
        placeholder="Nickname"
        value="{{ nickname }}"
      />
    </div>
    <button class="button" type="submit">Save</button>
  </form>
</div>
{% endblock %}
