{% extends 'index.html' %}

{% block title %}
{% if user == request.user %}
{{ user.username }}
{% else %}
Profile
{% endif %}
{% endblock %}

{% block content %}
<div class="profile">
  <h1 class="neon">Profile</h1>
  <hr />
  <span class="success">{{ success }}</span>
  <span class="error">{{ error }}</span>
  <div class="profile-header">
    <div class="user-info">
      <img class="user-info-avatar" src="{{ user.avatar.url }}" alt="Avatar" />
      <div class="user-info-container">
        <span>{% if user.nickname %}{{ user.nickname }}{% else %}{{ user.username }}{% endif %}</span>
        <div class="user-info-status">
          {% if user.status == 'Online' %}
          <div id="{{ user.pk }}-status-icon" class="online-icon"></div>
          {% else %}
          <div id="{{ user.pk }}-status-icon" class="offline-icon"></div>
          {% endif %}
          <span id="{{ user.pk }}-status">{{ user.status }}</span>
        </div>
      </div>
    </div>
    {% if request.user != user %}
    {% if request.user not in user.get_blocks and user not in request.user.get_blocks %}
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
      {% if user in request.user.users_invited_to_friend %}
      <input type="hidden" name="user-action" value="cancel-friend-invite" />
      <button type="submit">Cancel friend invite</button>
      {% elif user not in request.user.get_friends %}
      <input type="hidden" name="user-action" value="send-friend-invite" />
      <button type="submit">Send friend invite</button>
      {% else %}
      <input type="hidden" name="user-action" value="remove-friend" />
      <button type="submit">Remove friend</button>
      {% endif %}
    </form>
    {% endif %}
    {% else %}
    <a class="button" href="/edit-profile/">Edit profile</a>
    {% endif %}
  </div>
  {% if user == request.user %}
  <div class="profile-actions">
    <a class="button" href="/change-email/">Change email</a>
    {% if not user.email_verified_at %}
    <a class="button" href="/verify-email/">Verify email</a>
    {% endif %}
    <a class="button" href="/change-password/">Change password</a>
  </div>
  {% else %}
  <div class="profile-actions">
    {% if request.user not in user.get_blocks and user not in request.user.get_blocks %}
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
      <input type="hidden" name="user-action" value="game-invite" />
      <button type="submit">Invite to game</button>
    </form>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
      <input type="hidden" name="user-action" value="send-message" />
      <button type="submit">Send message</button>
    </form>
    {% endif %}
    <a class="button" href="/history/{{ user.username }}">History</a>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
      {% if user in request.user.get_blocks %}
      <input type="hidden" name="user-action" value="unblock" />
      <button type="submit">Unblock</button>
      {% else %}
      <input type="hidden" name="user-action" value="block" />
      <button type="submit">Block</button>
      {% endif %}
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
