{% extends 'index.html' %}

{% block title %}
{% if user == request.user %}
{{ user.username }}
{% else %}
Profile
{% endif %}
{% endblock %}

{% block content %}
<div class="profile">
  <h1 class="neon">Profile</h1>

  <hr />

  {% if success %}
  <span class="color-success">{{ success }}</span>
  {% endif %} {% if error %}
  <span class="color-error">{{ error }}</span>
  {% endif %}
  <div>
    <img class="avatar" src="{{ user.avatar.url }}" alt="Avatar" />
    <span>{{ user.username }}</span>
    <span id="{{ user.pk }}-status">{{ user.status }}</span>
  </div>
  <span>
    {% if user.email_verified %}
    Verified
    {% else %}
    Not verified
    {% endif %}
  </span>
  {% if user == request.user %}
  <a class="button" href="/edit_profile/">Edit profile</a>
  {% else %}
  <div class="profile-buttons">
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
	  {% if user in request.user.users_invited_to_friend %}
      <input type="hidden" name="user-action" value="cancel-friend-invite" />
      <button type="submit">Cancel friend invite</button>
	  {% elif user not in request.user.get_friends %}
      <input type="hidden" name="user-action" value="send-friend-invite" />
      <button type="submit">Send friend invite</button>
    {% else %}
      <input type="hidden" name="user-action" value="remove-friend" />
      <button type="submit">Remove friend</button>
	  {% endif %}
    </form>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
      <input type="hidden" name="user-action" value="game-invite" />
      <button type="submit">Invite to Game</button>
    </form>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
      <input type="hidden" name="user-action" value="send-message" />
      <button type="submit">Send Message</button>
    </form>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
	  {% if user in request.user.get_blocks %}
      <input type="hidden" name="user-action" value="unblock" />
      <button type="submit">Unblock</button>
	  {% else %}
      <input type="hidden" name="user-action" value="block" />
      <button type="submit">Block</button>
	  {% endif %}
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
