<form id="auth-form" method="post" onsubmit="fetchForm(event, '/register/')">
  {% csrf_token %}

  <div class="auth-form-inputs">
    <div>
      {% if username_error %}
      <span>{{ username_error }}</span>
      {% endif %}
      <input
        type="text"
        name="username"
        placeholder="Username"
        value="{{ username }}"
      />
    </div>

    <div>
      {% if password_error %}
      <span>{{ password_error }}</span>
      {% endif %}
      <input
        type="password"
        name="password"
        placeholder="Password"
        value="{{ password }}"
      />
    </div>

    <div>
      {% if password2_error %}
      <span>{{ password2_error }}</span>
      {% endif %}
      <input
        type="password"
        name="password2"
        placeholder="Confirm password"
        value="{{ password2 }}"
      />
    </div>
  </div>

  <button type="submit">Register</button>
</form>
