{% extends 'index.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div>
  {% if success %}
  <span>{{ success }}</span>
  {% endif %}
  {% if error %}
  <span>{{ error }}</span>
  {% endif %}
  <div>
    <img src="{{ user.avatar.url }}" alt="Avatar" />
    <span>{{ user.username }}</span>
  </div>
  <div>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
      <input type="hidden" name="user-action" value="friend-invite" />
      <button type="submit">Friend invite</button>
    </form>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="user-id" value="{{ user.id }}" />
      <input type="hidden" name="user-action" value="block" />
      <button type="submit">Block</button>
    </form>
  </div>
</div>
{% endblock %}
