<div class="verify-email-container">
  {% if error %}
  <span class="color-error">{{ error }}</span>
  {% endif %}
  {% if message %}
  <span class="color-success">{{ message }}</span>
  {% endif %}
  {% if success %}
  <div class='email-verified' >
    <button type="button" onclick="window.history.back()">Voltar</button>
    <span class="color-success">{{ success }}</span>
  </div>
  {% else %}
  <form method="post" onsubmit="handleFormSubmit(event)">
    {% csrf_token %}
    <input type="text" name="code" placeholder="Code" />
    <button type="submit">Verify code</button>
  </form>
  {% endif %}
</div>