<div class="form-container">
  {% if error %}
  <span class="error">{{ error }}</span>
  {% endif %}
  {% if message %}
  <span class="success">{{ message }}</span>
  {% endif %}
  {% if success %}
  <div class='success-and-back-button' >
    <button type="button" onclick="window.location.href='/profile'">Back to profile</button>
    <span class="success">{{ success }}</span>
  </div>
  {% else %}
  <form method="post" onsubmit="handleFormSubmit(event)">
    {% csrf_token %}
    <input type="text" name="code" placeholder="Code" />
    <button type="submit">Verify code</button>
  </form>
  {% endif %}
</div>