{% extends 'index.html' %}

{% block title %} 
	{% if chat.sender == chat.receiver%}
		Notifications
	{% else %}
		Chat
	{% endif %}
{% endblock %}

{% block content %}
<div>
  <div class="embranceForms">
	<h2> {{other_user.username}} </h2>
    <img class="avatar" src="{{ other_user.avatar.url }}" alt="Avatar" />
    <div class="inviteToPlay">
      <form method="post" onsubmit="handleFormSubmit(event)">
        {% csrf_token %}
        <input type="hidden" name="user-id" value="{{ user.id }}" />
        <button type="submit">Invite to Game</button>
      </form>
    </div>
    <div class="renderChat" style="height: 250px; overflow: auto;">
      {% for message in chat.messages.all %}
		{% if user == message.sender %}
		 	<p class="messageSelf">{{ message.content }}</p>
      	{% else %}
			<p class="messageOthers">{{ message.content }}</p>
      	{% endif %}
      {% endfor %}
    </div>
	<span id="chat-warning" class="color-error"></span>
    <form class="chatform" method="post" onsubmit="messageSocket.sendMessage(event)">
      {% csrf_token %}
      <input type="text" name="content" id="content" class="chat-input" placeholder="Digite sua mensagem" required />
      <input type="hidden" name="url" value="{% url 'sendMessage' id=chat.id %}" />
      <button type="submit" class="input-button">Enviar</button>
    </form>
  </div>
</div>
{% endblock %}
