<main>
  <header>
    <div>
      <h1>Login</h1>
      <h2>Enter your account:</h2>
    </div>
    <div>
      <button type="submit" onclick="fetchHTML('/')">
        <!-- TODO: Home icon -->
        Home
      </button>
    </div>
  </header>

  {% for message in messages %}
  <span class="{{ message.tags }}">{{ message }}</span>
  {% endfor %}
  
  {% include 'auth/login_form.html' %}

  <hr />

  <footer>
    <span> Don't have an account?</span>
    <button type="submit" onclick="fetchHTML('/auth/register/')">
      Register
    </button>
  </footer>
</main>
