<main class="container">
  <header>
    <div>
      <h1 class="neon">Login</h1>
      <h2 class="text-xl font-normal">Enter your account:</h2>
    </div>
    <div>
      <button class="link" type="submit" onclick="fetchHTML('/')">
        <!-- TODO: Home icon -->
        Home
      </button>
    </div>
  </header>

  <form method="post" onsubmit="fetchForm(event)">
    <div id="form-fields">
      {% include 'auth/login_form_fields.html' %}
    </div>

    <button type="submit">Sign in</button>
  </form>

  <hr />

  <footer>
    <div>
      <p>Don't have an account?</p>
      <button class="link text-base" type="submit" onclick="fetchHTML('/auth/register/')">Register</button>
    </div>
  </footer>
</main>
