<main class="container">
  <header>
    <div>
      <h1 class="neon">Login</h1>
      <h2 class="text-xl font-normal">Enter your account:</h2>
    </div>
    <div>
      <a class="link" href="/">
        <!-- TODO: Home icon -->
        Home
      </a>
    </div>
  </header>

  <form method="post" onsubmit="handleFormSubmit(event)">
    <div id="form-fields">{% include 'auth/login_form_fields.html' %}</div>

    <button type="submit">Sign in</button>
  </form>

  <hr />

  <footer>
    <div>
      <p>Don't have an account?</p>
      <a class="link text-base" href="/auth/register/">
        Register
      </a>
    </div>
  </footer>
</main>
