<main class="container">
  <header>
    <div>
      <h1 class="neon">Register</h1>
      <h2 class="text-xl font-normal">Create your account:</h2>
    </div>
    <div>
      <a class="link" href="/">
        <!-- TODO: Home icon -->
        Home
      </a>
    </div>
  </header>

  <form method="post" onsubmit="handleFormSubmit(event)">
    <div id="form-fields">{% include 'auth/register_form_fields.html' %}</div>

    <button type="submit">Sign up</button>
  </form>

  <hr />

  <footer>
    <div>
      <p>Already have an account?</p>
      <a class="link text-base" href="/auth/login/">
        Login
      </a>
    </div>
  </footer>
</main>
