<h2>Send Game Invite</h2>
<form
  method="post"
  action="{% url 'gameInvites' %}"
  onsubmit="handleForm(event)"
>
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required />
  <input type="hidden" name="url" value="{% url 'gameInvites' %}" />
  <button type="submit">Submit</button>
</form>
<h2>Invites Received</h2>
<ul id="GameInvitesReceived">
  {% for invite in user.game_invites_received.all%}
  <li>
    {{ invite.sender }}
    <div id="game-invite-actions" class="verticalDiv">
      <form method="POST" onsubmit="handleForm(event)">
        {% csrf_token %}
        <button type="submit">Accept request</button>
        <input type="hidden" name="action" value="accept" />
        <input
          type="hidden"
          name="url"
          value="{% url 'respondGameInvite' invite.id %}"
        />
      </form>
      <form method="POST" onsubmit="handleForm(event)">
        {% csrf_token %}
        <button type="submit">Reject request</button>
        <input type="hidden" name="action" value="reject" />
        <input
          type="hidden"
          name="url"
          value="{% url 'respondGameInvite' invite.id %}"
        />
      </form>
    </div>
    {% endfor %}
  </li>
</ul>
