{% if tournament %}
<div class="verticalDiv">
  <button onclick="localTournamentSocket.startGame()">Start Game</button>
</div>
{% else %}
<h1>Local Game</h1>
<div class="verticalDiv">
  <button onclick="localGameSocket.gameAction('start')">Start Game</button>
  <button onclick="localGameSocket.gameAction('stop')">Stop Game</button>
</div>
{% endif %}
<h2>Controls</h2>
<div class="verticalDiv">
  <div>
    {% if player1 %} {{ player1 }} {% else %}
    <p>Player 1</p>
    {% endif %}
    <p id="p1-score"></p>
    W -> move up
    <br />
    S -> move down
  </div>
  <div>
    {% if player2 %} {{ player2 }} {% else %}
    <p>Player 2</p>
    {% endif %}
    <p id="p2-score"></p>
    Arrow up -> move up
    <br />
    Arrow down -> move down
  </div>
</div>
<canvas id="game-screen"></canvas>
