<div id="tournament-display">
  <h1>{{ tournament }}</h1>
  {% if user == tournament.admin %}
  <div id="admin-pannel">
    <form method="post" onsubmit="onlineTournamentSocket.invitePlayer(event)">
      {% csrf_token %}
      <label for="username">Invite user:</label>
      <input type="text" name="username" id="username" required />
      <input
        type="hidden"
        name="url"
        value="{% url 'onlineTournament' tournament.id%}"
      />
      <button type="submit">Invite</button>
    </form>
  </div>
  {% endif %}
  <div id="tournament-players">
    <h2>Players</h2>
    {% for player in tournament.players.all %}
    <p id="player-{{ player.pk }}">{{ player.username }}</p>
    {% endfor %}
  </div>
  <div id="invited-players">
    <h2>Invites Sent</h2>
    {% for invite in tournament.invites_sent.all %}
    <p id="invite-{{ invite.pk }}">{{ invite.receiver }}</p>
    {% endfor %}
  </div>
</div>
