{% extends 'index.html' %} 

{% block title %} Pong {% endblock %}

{% block content %}
<div>
  <a class="button" href="/pong/local-game/">Local Game</a>
  <a class="button" href="/pong/local-tournament/">Local Tournament</a>
  <a class="button" href="/">Online Game</a>
  <a class="button" href="/pong/online-tournament/menu">Online Tournaments</a>
  <h2 class="neon">Game invites</h2>
  <ul class="pongList">
    {% for invite in user.game_invites_received.all %}
		<li class="row items-center gap-8 justify-between">
    	  <span>{{ invite.sender }}</span>
    	  <div class="row gap-1">
    	    <form class="column" method="post" onsubmit="handleFormSubmit(event)">
    	      {% csrf_token %}
    	      <button class="button" type="submit">Accept</button>
    	      <input type="hidden" name="user-action" value="accept-game" />
    	      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
    	    </form>
    	    <form class="column" method="post" onsubmit="handleFormSubmit(event)">
    	      {% csrf_token %}
    	      <button class="button" type="submit">Reject</button>
    	      <input type="hidden" name="user-action" value="reject-game" />
    	      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
    	    </form>
    	  </div>
    	</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
