<h2>Create Tournament</h2>
<form
  method="post"
  action="{% url 'tournamentInvites' %}"
  onsubmit="handleForm(event)"
>
  {% csrf_token %}
  <label for="tournament-name">Tournament name:</label>
  <input type="text" name="tournament-name" id="tournament-name" required />
  <input type="hidden" name="url" value="{% url 'tournamentInvites' %}" />
  <button type="submit">Create</button>
</form>
<h2>Current Tournaments you're administrating</h2>
<ul id="active-admin-tournaments">
  {% for tournament in user.current_admin_tournaments %}
  <li>{{ tournament.name }}</li>
  {% endfor %}
</ul>
<h2>Current Tournaments you're playing in</h2>
<ul id="active-player-tournaments">
  {% for tournament in user.current_tournaments %}
  <li>{{ tournament.name }}</li>
  {% endfor %}
</ul>
<h2>Invites Received</h2>
<ul id="tournament-invites-received"></ul>
