<!doctype html>
<head>
  <style>
    .menuDiv {
      display: flex;
      justify-content: center;
      gap: 5px;
    }
    .verticalDiv {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  </style>
</head>
<body>
  {% if user.is_authenticated %}
  <div id="tournament-menu" class="verticalDiv">
    <button onclick="render('{% url 'tournamentMenu' %}')">Menu</button>
    <button onclick="render('{% url 'localTournament' %}')">
      Local Tournament
    </button>
  </div>
  <div id="game-data"></div>
  {% else %}
  <p>Welcome, new user. Please <a href="/">Login</a></p>
  {% endif %} {% load static %}
  <script src="{% static 'relations/js/statusWebSocket.js' %}"></script>
  {% load static %}
  <script src="{% static 'pong/js/gameScreen.js' %}"></script>
  {% load static %}
  <script src="{% static 'pong/js/localGameWebSocket.js' %}"></script>
  {% load static %}
  <script src="{% static 'pong/js/onlineGameWebSocket.js' %}"></script>
  <script>
    let localGameSocket;
    let onlineGameSocket;
    let messageSocket;
    window.addEventListener("popstate", handlePopState);
    history.replaceState(
      { view: "{% url 'tournamentMenu' %}" },
      "",
      "{% url 'tournamentMenu' %}",
    );

    async function handlePopState(event) {
      await render(event.state?.view, false, true);
    }

    async function handleForm(event) {
      event.preventDefault();

      const form = event.target;
      const data = new FormData(form);
      const url = data.get("url");
      let response = await fetch(url, { method: form.method, body: data });
      if (!response.ok) {
        console.error("Failed to send form");
      } else {
        const new_url = response.url;
        const data = await response.text();
        document.getElementById("game-data").innerHTML = data;
        if (new_url != window.location) {
          history.pushState({ view: new_url }, "", new_url);
          handleSockets(window.location.pathname);
        }
      }
    }

    async function render(url, setPushState = true, isPopState = false) {
      if (url == window.location.pathname && !isPopState) return;
      if (url == "{% url 'friendsIndex' %}") {
        url = "{% url 'friendList' %}";
      }
      fetch(url)
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("game-data").innerHTML = data;
        });
      if (setPushState) {
        history.pushState({ view: url }, "", url);
      }
      handleSockets(url);
    }

    function handleSockets(url) {
      if (messageSocket && messageSocket.socket.readyState === WebSocket.OPEN) {
        messageSocket.socket.close();
      } else if (
        localGameSocket &&
        localGameSocket.socket.readyState === WebSocket.OPEN
      ) {
        localGameSocket.socket.close();
      } else if (
        onlineGameSocket &&
        onlineGameSocket.socket.readyState === WebSocket.OPEN
      ) {
        onlineGameSocket.socket.close();
      }

      if (url == "{% url 'friendList' %}") {
        statusSocket.setInitialStatus();
      } else if (url.includes("/chat/room")) {
        const regex = /\/chat\/room\/(?<id>\d+)\//;
        const match = url.match(regex);
        messageSocket = new MessageWebSocket(match.groups.id);
      } else if (url == "{% url 'localGame' %}") {
        localGameSocket = new LocalGameWebSocket();
      } else if (url.includes("/online-game/")) {
        const regex = /\/online-game\/(?<id>\d+)\//;
        const match = url.match(regex);
        onlineGameSocket = new OnlineGameWebSocket(match.groups.id);
      }
    }
  </script>
</body>
