{% extends 'index.html' %}

{% block title %} Online Game {% endblock %}

{% block content %}
<div class="game-container" id="online-game-section">
  <h2>Controls</h2>
  <div class="controls-game">
    <div>
      {% if game.round and player1.nickname %}
      <p class="player1">{{ player1.nickname }}</p>
      {% else %}
      <p class="player1">{{ player1.username }}</p>
      {% endif %}
      <p id="p1-score"></p>
    </div>
    <div>
      {% if game.round and player1.nickname %}
      <p class="player2">{{ player2.nickname }}</p>
      {% else %}
      <p class="player2">{{ player2.username }}</p>
      {% endif %}
      <p id="p2-score"></p>
    </div>
  </div>
  <div>
    W -> move up
    <br />
    S -> move down
  </div>
  <canvas id="game-screen"></canvas>
</div>
{% endblock %}
