{% extends 'index.html' %}

{% block title %} Tournament History {% endblock %}

{% block content %}
<div class="historyContainer">
  <div class="historyTitle">
	<h2 class="neon">Tournaments</h2>
  </div>
  <table class="historyTable">
    <thead>
      <tr class="historyHeadRow">
        <th class="historyCell">
			<h2 class="neon">Name</h2>
		</th>
        <th class="historyCell">
			<h2 class="neon">Admin</h2>
		</th>
        <th class="historyCell">
			<h2 class="neon">Winner</h2>
		</th>
      </tr>
    </thead>
    <tbody>
      {% for tournament in user.finished_tournaments %}
        <tr>
          <td class="historyCell">
            <a class="link" href='{% url 'onlineTournament' tournament.id %}'>
			  {{ tournament.name }}
            </a>
          </td>
          <td class="historyCell">
            {% if tournament.admin is not None %}
              {% if tournament.admin.nickname %}
                <a class="link" href="{% url 'userProfile' tournament.admin.username %}">
                  {{ tournament.admin.nickname }}
                </a>
              {% else %}
                <a class="link" href="{% url 'userProfile' tournament.admin.username %}">
                  {{ tournament.admin.username }}
                </a>
              {% endif %}
            {% else %}
              <p>"Deleted User"</p>
            {% endif %}
          </td>
          <td class="historyCell">
            {% if tournament.winner is not None %}
              {% if tournament.winner.nickname %}
                <a class="link" href="{% url 'userProfile' tournament.winner.username %}">
                  {{ tournament.winner.nickname }}
                </a>
              {% else %}
                <a class="link" href="{% url 'userProfile' tournament.winner.username %}">
                  {{ tournament.winner.username }}
                </a>
              {% endif %}
            {% else %}
              <p>"Deleted User"</p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="button" href="{% url 'history' user.username %}">History menu</a>
</div>
{% endblock %}
