<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/tournamentHistory.css' %}"
    />
    <style>
      .container {
        display: flex;
        justify-content: center;
      }
      .tab-content {
        display: none;
      }
      .tab-content.active {
        display: block;
      }
      .tabs {
        display: flex;
        cursor: pointer;
        margin-bottom: 1rem;
      }
      .tab {
        padding: 10px 20px;
        border: 1px solid #ccc;
        margin-right: 1rem;
      }
      .tab.active {
        background-color: #ddd;
      }
    </style>
  </head>
  <body class="container">
    <div class="tabs">
      <div class="tab active" data-tab="tab1">Em andamento</div>
      <div class="tab" data-tab="tab2">Finalizados</div>
    </div>
    <div id="tab1" class="tab-content active">
      <table>
        <thead>
          <tr class="head">
            <th><p>Tournament Name</p></th>
            <th><p>Created by</p></th>
          </tr>
        </thead>
        <tbody>
          {% for tournament in page_obj %} {% if not tournament.finished %}
          <tr>
            <td><p>{{ tournament.name }}</p></td>
            <td><p>{{ tournament.admin }}</p></td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="tab2" class="tab-content">
      <table>
        <thead>
          <tr class="head">
            <th><p>Tournament Name</p></th>
            <th><p>Created by</p></th>
            <th><p>Winner</p></th>
          </tr>
        </thead>
        <tbody>
          {% for tournament in page_obj %} {% if tournament.finished %}
          <tr>
            <td><p>{{ tournament.name }}</p></td>
            <td><p>{{ tournament.admin }}</p></td>
            <td><p>{{ tournament.winner }}</p></td>
            <td>
              <button
                onclick="window.location.href='{% url 'onlineTournament' tournament.id %}'"
              >
                Visualizar Torneio
              </button>
            </td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const tabs = document.querySelectorAll(".tab");
        const contents = document.querySelectorAll(".tab-content");

        tabs.forEach((tab) => {
          tab.addEventListener("click", () => {
            const target = tab.getAttribute("data-tab");

            tabs.forEach((t) => t.classList.remove("active"));
            contents.forEach((c) => c.classList.remove("active"));

            tab.classList.add("active");
            document.getElementById(target).classList.add("active");
          });
        });
      });
    </script>
  </body>
</html>
