{% extends 'index.html' %}

{% block title %} Online Tournaments Menu{% endblock %}

{% block content %}
<div>
  <span class="success">{{ success }}</span>
  <span class="error">{{ error }}</span>
  <h2 class="neon">Create Tournament</h2>
  <form class="row gap-1" method="post" onsubmit="handleFormSubmit(event)">
    {% csrf_token %}
    <input
	  class="input width-full"
	  type="text"
	  name="tournament-name"
	  class="chat-input"
	  placeholder="Tournament name"
	  required
	/>
    <button class="button" type="submit">Create</button>
    <input type="hidden" name="user_action" value="create-tournament" />
  </form>
  <div id="current-tournaments">
    <h2 class="neon">Current Tournaments</h2>
    <ul class="pongList">
      {% for tournament in user.current_tournaments %}
		<div id="tournament-{{ tournament.name }}" class="tournamentItem">
	  	  <a class="button" href='{% url 'onlineTournament' tournament.id %}'>
      	    {{tournament.name}}
	  	  </a>
		  <div class="row gap-2">
      	    {% if tournament.admin == user %}
	  	    	  <span class="neon">Admin</span>
      	    {% endif %}
	  	    {% if user in tournament.players.all %}
	  	    	<span class="neon">Player</span>
      	    {% endif %}
		  </div>
      	</div>
      {% endfor %}
    </ul>
  </div>
  <h2 class="neon">Tournament Invites Received</h2>
  <div id="tournaments-invites" class="pongList">
    {% for invite in user.tournament_invites_received.all %}
		<div id="tournament-invite-{{ tournament.name }}" class="tournamentInvite">
		  <span class="neon">{{ invite.tournament }}</span>
		  <div class="tournamentInviteButtons">
    	    <form method="POST" onsubmit="handleFormSubmit(event)">
    	      {% csrf_token %}
    	      <button class="button" type="submit">Accept</button>
    	      <input type="hidden" name="user_action" value="accept-invite"/>
    	      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
    	    </form>
    	    <form method="POST" onsubmit="handleFormSubmit(event)">
    	      {% csrf_token %}
    	      <button class="button" type="submit">Reject</button>
    	      <input type="hidden" name="user_action" value="reject-invite"/>
    	      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
    	    </form>
		  </div>
    	</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
