@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --background-color: #050505;
  --background-color-lighter: #1f1f1f;
  --foreground-color: #f0f0f0;
  --primary-color-darker: rgb(100, 40, 200);
  --primary-color: rgb(130, 70, 230);
  --primary-color-lighter: rgb(155, 95, 225);
  --success-color: #97cc04;
  --error-color: #ee1b1b;
}

@keyframes neon {
  from {
    text-shadow: 0 0 2px var(--primary-color), 0 0 8px var(--primary-color),
      0 0 10px var(--primary-color-darker);
  }

  to {
    text-shadow: 0 0 12px var(--primary-color), 0 0 30px var(--primary-color),
      0 0 40px var(--primary-color-darker);
  }
}

@keyframes neon-fog-anim {
  from {
    top: 40%;
  }

  to {
    top: 50%;
  }
}

@keyframes grid-top-anim {
  from {
    height: 100%;
  }

  to {
    height: 80%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--foreground-color);
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(
      ellipse at center,
      rgb(50, 40, 180) 0%,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
  background-size: 130%;
  background-position: center;
}

.link {
  text-decoration: none;
  color: var(--foreground-color);
}

.link:hover {
  color: var(--primary-color);
}


.neon {
  animation: neon 1.5s ease-in-out infinite alternate;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-bottom: 1px solid var(--foreground-color);
}

.header-title {
  font-size: 1.7rem;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.vertical-line {
  width: 1px;
  height: 20px;
  background-color: var(--foreground-color);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.auth {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--foreground-color);
  border-radius: 10px;
  padding: 25px;
  width: 300px;
  background-color: var(--background-color);
  gap: 10px;
}

.auth-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-header h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth-footer {
  display: flex;
  gap: 5px;
}

.login-error {
  color: var(--error-color);
}

.register-success {
  color: var(--success-color);
}

.register-error {
  font-size: 0.9rem;
  color: var(--error-color);
}

.friends {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid var(--foreground-color);
  border-radius: 10px;
  padding: 25px;
  background-color: var(--background-color);
  gap: 20px;
}

.friends-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friends-header-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.neon-fog {
  width: 100%;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--primary-color-darker) 100%
  );
  bottom: 253px;
  z-index: -10;
  animation: neon-fog-anim 2s ease-in-out infinite alternate;
}

.grid {
  height: 400px;
  width: 185vw;
  position: absolute;
  bottom: 0;
  margin: 0 -42.5%;
  transform: perspective(200px) rotateX(60deg);
  z-index: -5;
  border-top: 1px solid var(--primary-color-lighter);
  background-color: var(--background-color);
}

.grid-top {
  background: linear-gradient(
    to bottom,
    var(--primary-color-darker) 0%,
    var(--background-color) 100%
  );
  width: inherit;
  position: absolute;
  top: 0;
  animation: grid-top-anim 2s ease-in-out infinite alternate;
}

.grid-lines {
  background-image: repeating-linear-gradient(
      /* horizontal lines */ 0deg,
      var(--primary-color) 2px,
      var(--primary-color-lighter) 4px,
      transparent 0px,
      transparent 40px
    ),
    repeating-linear-gradient(
      /* vertical lines */ -90deg,
      var(--primary-color) 4px,
      var(--primary-color-lighter) 6px,
      transparent 0px,
      transparent 60px
    );
  height: 100%;
  width: 100%;
  position: absolute;
}

button {
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 10px;
  background-color: var(--primary-color-darker);
  color: var(--foreground-color);
  cursor: pointer;
  transition: background-color 0.5s ease-out, color 0.2s ease-out;
}

button:hover {
  background-color: var(--primary-color);
}

.link {
  padding: 0;
  background-color: var(--background-color);
}

.link:hover {
  background-color: var(--background-color);
  color: var(--primary-color-lighter);
}

input {
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--background-color-lighter);
  color: var(--foreground-color);
}

input:focus {
  outline: none;
}

hr {
  margin: 5px 0;
}
