@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --background-color: #050505;
  --background-color-lighter: #1f1f1f;
  --foreground-color: #f0f0f0;
  --primary-color-darker: rgb(100, 40, 200);
  --primary-color: rgb(130, 70, 230);
  --primary-color-lighter: rgb(155, 95, 225);
  --success-color: #97cc04;
  --error-color: #ee1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--foreground-color);
  height: 100vh;
  background: radial-gradient(
      ellipse at center,
      rgb(50, 40, 180) 0%,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 1) 90%
    ),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
  background-size: 130%;
  background-position: center;
}

a {
  text-decoration: none;
  color: var(--foreground-color);
}

hr {
  margin: 5px 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main > div {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--foreground-color);
  border-radius: 10px;
  padding: 25px;
  background-color: var(--background-color);
  gap: 10px;
}

.success-and-back-button {
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.result-score {
  text-align: center;
}

.result-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result-pontuation {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.game-header {
  display: flex;
  flex-direction: column;
}

.game-header {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.game-screen {
  display: flex;
  width: 600px;
  height: 300px;
}

.controls-game {
  display: flex;
  justify-content: space-between;
  gap: 32px
}

.home {
  width: 450px;
}

.auth-footer {
  display: flex;
  gap: 5px;
}

.login-error {
  color: var(--error-color);
}

.register-success {
  color: var(--success-color);
}

.register-error {
  font-size: 0.9rem;
  color: var(--error-color);
}

.friends-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friends-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-list {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: auto;
  gap: 10px;
}

.empty-item {
  display: flex;
  margin: auto;
}

.user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.user-list li:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--foreground-color);
}

.user-list div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toast {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 10px 10px 0 10px;
  color: var(--foreground-color);
  background-color: var(--primary-color-darker);
  gap: 10px;
  font-size: large;
}

.toast:empty {
  display: none;
}

.offline-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--error-color);
}

.online-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--success-color);
}

.profile {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-info-status {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
