{% extends 'index.html' %}

{% block title %} Local Tournament {% endblock %}

{% block content %}
<div>
  <div id="formation-menu" class="tournament">
    <div class="verticalDiv">
      <span id="local-tournament-warning" class="error"></span>
      <div class="tournament-options">
        <form class="row gap-1" onsubmit="localTournamentSocket.playerAction(event)">
          {% csrf_token %}
          <input
            class="input width-full"
            type="text"
            name="alias"
            placeholder="Player Alias"
            required
          />
          <input type="hidden" name="user_action" value="add_player" />
          <button class="button" type="submit" class="input-button">Add</button>
        </form>
        <form class="column items-center" onsubmit="localTournamentSocket.tournamentAction(event)">
          {% csrf_token %}
          <input type="hidden" name="user_action" value="start_tournament" />
          <button class="button" type="submit" class="input-button">Start Tournament</button>
        </form>
      </div>
    </div>
    <h2>Players</h2>
    <ul id="tournament-players" class="tournament-players" style="height: 250px; overflow: auto;"></ul>
  </div>
  <div id="game-section"></div>
</div>
{% endblock %}
