{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ft_transcendence</title>

	<link
	  rel="shortcut icon"
	  type="image/png"
	  href="{% static 'favicon/favicon.png' %}"
	>
    <link rel="stylesheet" href="{% static 'css/generic.css' %}" />
    <link rel="stylesheet" href="{% static 'css/grid.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pong.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tournament.css' %}" />
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'pong/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}" />
    <script src="{% static 'js/statusWebSocket.js' %}"></script>
    <script src="{% static 'js/gameScreen.js' %}"></script>
    <script src="{% static 'js/localGameWebSocket.js' %}"></script>
    <script src="{% static 'js/localTournamentWebSocket.js' %}"></script>
    <script src="{% static 'js/onlineGameWebSocket.js' %}"></script>
    <script src="{% static 'js/onlineTournamentWebSocket.js' %}"></script>
    <script src="{% static 'js/messageWebSocket.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    <!-- grid arcade -->
    <div class="neon-fog"></div>
    <div class="grid-container">
      <div class="grid">
        <div class="grid-top"></div>
        <div class="grid-lines"></div>
      </div>
    </div>

    <div id="content" class="content">{{ content }}</div>
    <div id="toast" class="toast"></div>
  </body>
</html>
