{% extends 'friends.html' %}

{% block friends_title %} Invites received {% endblock %}

{% block friends_content %}
<ul>
  {% for invite in user.friend_invites_received.all %}
  <li>
    <span>{{ invite.sender }}</span>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
      <input type="hidden" name="user-action" value="accept" />
      <button type="submit">Accept invite</button>
    </form>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
      <input type="hidden" name="user-action" value="reject" />
      <button type="submit">Reject invite</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
