{% extends 'friends.html' %}

{% block friends_title %}Invites sent{% endblock %}

{% block friends_content %}
<ul class="user-list">
  {% if user.friend_invites_sent.all %}
  {% for invite in user.friend_invites_sent.all %}
  <li>
    <span>{{ invite.receiver }}</span>
    <form method="post" onsubmit="handleFormSubmit(event)">
      {% csrf_token %}
      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
      <button type="submit">Cancel invite</button>
    </form>
  </li>
  {% endfor %}
  {% else %}
  <li class="empty-item">No invites sent</li>
  {% endif %}
</ul>
{% endblock %}
