<main class="container">
  <header>
    <h1 class="neon">Friends</h1>
  </header>

  <hr />

  <div>
    <a href="/friends/friend-list/">
      Friend list
    </a>
    <a href="/friends/send-invite/">
      Add friend
    </a>
    <a href="/friends/block-list/">
      Block list
    </a>
    <a href="/friends/block/">
      Block user
    </a>
    <a href="/friends/invites-received/">
      Invites received
    </a>
    <a href="/friends/invites-sent/">
      Invites sent
    </a>
  </div>
</main>
