{% extends 'index.html' %}

{% block title %} Online Tournaments Menu{% endblock %}

{% block content %}
<div>
  {% if success %}
  <span class="color-success">{{ success }}</span>
  {% endif %} {% if error %}
  <span class="color-error">{{ error }}</span>
  {% endif %}
  <h2>Create Tournament</h2>
  <form method="post" onsubmit="handleFormSubmit(event)">
    {% csrf_token %}
    <input
	  type="text"
	  name="tournament-name"
	  class="chat-input"
	  placeholder="Tournament name"
	  required
	/>
    <button type="submit">Create</button>
    <input type="hidden" name="user_action" value="create-tournament" />
  </form>
  <div id="current-tournaments">
    <h2>Current Tournaments</h2>
    <ul>
      {% for tournament in user.current_tournaments %}
		<div id="tournament-{{ tournament.name }}" style="display: flex; padding: 5px;">
	  	  <a class="button" href='{% url 'onlineTournament' tournament.id %}'>
      	    {{tournament.name}}
	  	  </a>
      	  {% if tournament.admin == user %}
	  	  	<p>Admin</p>
      	  {% endif %}
	  	  {% if user in tournament.players.all %}
	  	  	<p>Player</p>
      	  {% endif %}
      	</div>
      {% endfor %}
    </ul>
  </div>
  <div id="tournaments-invites">
    <h2>Tournament Invites Received</h2>
    {% for invite in user.tournament_invites_received.all %}
		<div id="tournament-invite-{{ tournament.name }}">
    	  {{ invite.tournament }}
    	  <div class="verticalDiv">
    	    <form method="POST" onsubmit="handleFormSubmit(event)">
    	      {% csrf_token %}
    	      <button type="submit">Accept</button>
    	      <input type="hidden" name="user_action" value="accept-invite"/>
    	      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
    	    </form>
    	    <form method="POST" onsubmit="handleFormSubmit(event)">
    	      {% csrf_token %}
    	      <button type="submit">Reject</button>
    	      <input type="hidden" name="user_action" value="reject-invite"/>
    	      <input type="hidden" name="invite-id" value="{{ invite.id }}" />
    	    </form>
    	  </div>
    	</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
