{% extends 'index.html' %}

{% block title %} Online Tournament {% endblock %}

{% block content %}
<div id="tournament-display">
  <h1>{{ tournament }}</h1>
  {% if tournament.started == False %}
	<span id="online-tournament-success" class="color-success"></span>
	<span id="online-tournament-warning" class="color-error"></span>
	{% if user == tournament.admin %}
  	  <div id="admin-pannel">
  		  <form method="post" onsubmit="onlineTournamentSocket.form(event)">
  		    {% csrf_token %}
  		    <input type="text"
				   name="username"
				   class="chat-input"
				   placeholder="username to invite"
				   required
			/>
  		    <input
  		      type="hidden"
  		      name="url"
  		      value="{% url 'inviteToTournament' tournament.id %}"
  		    />
  		    <button type="submit">Invite</button>
  		  </form>
  		  <form method="post" onsubmit="onlineTournamentSocket.form(event)">
  		    {% csrf_token %}
  		    <input
  		      type="hidden"
  		      name="url"
  		      value="{% url 'cancelTournament' tournament.id %}"
  		    />
  		    <button type="submit">Cancel Tournament</button>
  		  </form>
  		  <button onclick="onlineTournamentSocket.start()">Start Tournament</button>
  		</div>
  	{% endif %}
	<div id="tournament-players">
  	  <h2>Players</h2>
  	  {% for player in tournament.players.all %}
	  <div id="player--{{player.pk}}">
	    <a href="{% url 'userProfile' player.username %}">
	      {% if player.nickname %}
	        {{ player.nickname}}
	      {% else %}
	        {{ player.username }}
	      {% endif %}
	    </a>
	  </div>
  	  {% endfor %}
  	</div>
  	<div id="invited-players">
  	  <h2>Invites Sent</h2>
  	  {% for invite in tournament.invites_sent.all %}
  	  <div id="invite-{{ invite.pk }}">
	    <a href="{% url 'userProfile' invite.receiver.username %}">
		  {{ invite.receiver }}
	    </a>
	  </div>
  	  {% endfor %}
  	</div>
  {% else %}
  <div id="tournament-rounds" style="display: flex;">
    {% for round in tournament.rounds.all %}
    <div>
      <h2>{{ round }}</h2>
	  <div style="padding: 15px; display: flex; flex-direction: column;">
		{% for game in round.games.all %}
	  	  <a class="button" href='{% url 'onlineGame' game.id %}'>
      	    {{ game }}
	  	  </a>
      	{% endfor %}
	  </div>
    </div>
    {% endfor %}
	{% if tournament.finished %}
	  <div>
	    <h2>Tournament Winner</h2>
	    <div style="padding: 15px; display: flex; flex-direction: column;">
	      {% if tournament.winner is not None %}
	      	{% if tournament.winner.nickname %}
	      		<a class="button" href="{% url 'userProfile' tournament.winner.username %}">
	      			{{ tournament.winner.nickname }}
	      		</a>
	      	{% else %}
	      		<a class="button" href="{% url 'userProfile' tournament.winner.username %}">
	      			{{ tournament.winner.username }}
	      		</a>
	      	{% endif %}
	      {% else %}
	      	<p>"Deleted User"</p>
	      {% endif %}
	    </div>
	  </div>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}
